body {
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

nav ul li {
  list-style: none;
  transition: transform 0.7s ease;
  font-size: 1em;
}

nav ul li:hover {
  transform: skew(-10deg);
}

nav ul li::after {
  content: "";
  height: 3px;
  width: 0%;
  background: gold;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

nav ul li:hover::after {
  width: 100%;
}

nav ul li a {
  text-decoration: none;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  transition: color 0.7s ease, border-radius 0.7s ease;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

nav ul li a.active {
  color: gold;
}

nav ul li a:hover {
  border-radius: 10px;
  background-color: gold;
  color: black;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.image-container1 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), transparent),
    url("media/dailyhabitfpic.jpeg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay-text1 h2 {
  top: 60%;
  right: 53%;
  font-size: 75px;
  font-weight: 60px;
  line-height: 90px;
  margin-left: -10px;
}

.overlay-text1 p {
  top: 60%;
  right: 93%;
  font-size: 30px;
  font-weight: 60px;
}

#wcyd {
  font-size: 40px;
}

.pdailyhabits1 {
  position: absolute;
  background-color: rgb(4, 89, 10);
  right: 50%;
}

@media (min-width: 800px) {
  nav ul li a {
    font-size: 1vw;
    padding: 5px 10px;
  }
}
